<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IgnoreSSL" value="true" />
    <add key="ApiEndpoint" value="https://DEIMV201.BelgianRail.be:52311/api/" />
    <add key="ApiUser" value="iemadmin" />
    <add key="ApiPassword" value="bigfix" />
  </appSettings>
</configuration>